:root{
--cor1: #2F4C73;
--cor2: #07F25A;
--cor3: #0ABF49;
--cor4: #0D0D09;
--cor5: #F2F2F2;


}

*{
margin: 0;
padding: 0;
}


.bi-person-circle{
color: white;
}

footer{
background-color: #3e4551;
}

footer h5 {
font-weight: bold;
}

.Copyright{
background-color: rgba(0, 0, 0, 0.2)
}

main {
    background: linear-gradient(to right, #43c6ac, #191654);
    padding: 3%;
  }
  
  .container1 {
    padding: 2%;
    display: flex;
    width: max-content;
    flex-direction: column;
    border-radius: 8px;
    height: auto;
    align-items: flex-start;
    background-color: #F2F2F2;
  }

  .container1 h1 {
    color: #000;
  }

  .container1 p {
    color: #000;
  }
  
  .frm-row {
    margin-bottom: 12px;
  }
  
  .frm-row label {
    display: block;
    margin-bottom: 3px;
  }
  
  .frm-row input{
    width:calc(100% - 16px);
    padding: 8px;
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0);
    height: 25px;
    font-size: 1.2rem;
  }
  
  form {
    display: flex;
    
  }
  
  .button {
    display: flex;
    align-items: center;
    margin: 50px;
  }
  
  form button {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    font-size: 18px;
    height: 45px;
    width: 80px;
    background-color: #0D0D09;
    color: #198754;
    border-color: #198754;
    font-weight: 400;
    
  }

  @media screen and (max-width: 800px) {
    .form {
      flex-direction: column;
      width: -webkit-fill-available;
    }
  }
    @media screen and (max-width: 800px) {
      .container1 {
        flex-direction: column;
        width: fit-content;
      }
  }