main {
  display: flex;
  justify-content: center;
}

.recuperarSenha {
  border-radius: 20px;
  background-color: rgb(206, 206, 206);
}

.recuperarSenha form {
  margin: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



.recuperarSenha button {
  margin-top: 10px;
}

.recuperarSenha button:hover {
  margin-top: 10px;
}
