.recuperarsenha {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.recuperarsenha form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.recuperarsenha button {
  margin-top: 10px;
  background-color: #198754;
  color: #ffffff;
  
}

.recuperarsenha button:hover {
  margin-top: 10px;
  background-color: #2F4C73;
  color: #ffffff;
  
}
