/* section geral, o posicionamento dos cards*/
.CardGeral {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

/* Card TREINEE */   
.card {
background: #fff;
border-radius: 20px;
box-shadow:  0px 2px 23px #26395338;
}
.mediaCard {
    background: url();
    height: 250px;
    width: 250px;
}
.topCard {
    padding: 20px;
    padding-top: 0px;
}
.bottomCard{
    padding: 20px;
}
.actions {
    background: none;
    border: none;
    color: purple;
}

/* Card JUNIOR */
.card2 {
    background: #fff;
    border-radius: 20px;
    box-shadow:  0px 2px 23px #26395338;
}
.mediaCard2 {
    background: url();
    height: 250px;
    width: 250px;
}
.topCard2 {
    padding: 20px;
    padding-top: 0px;
}
.bottomCard2 {
    padding: 20px;
}
.actions2{
    background: none;
    border: none;
    color: purple;
}

/* Card PLENO */
.card3{
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 2px 23px #26395338;
}
.mediaCard3{
    background: url();
    height: 250px;
    width: 250px;
}
.topCard3 {
    padding: 20px;
    padding-top: 0px;
}
.bottomCard3{
    padding: 20px;
}
.actions3{
    background: none;
    border: none;
    color: purple;
}

/* Card SENIOR */
.card4{
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 2px 23px #26395338;
}
.mediaCard4{
    background: url();
    height: 250px;
    width: 250px;
}
.topCard4{
    padding: 20px;
    padding-top: 0px;
}
.bottomCard4{
    padding: 20px;
}
.actions4{
    background: none;
    border: none;
    color: purple;
}







body{
    background: linear-gradient(to right, #43c6ac, #191654);
    
}
.player {
    width: 350px;
    background: #f1f2f3;
    border-radius: 20px;
    box-shadow: 0 50px 80px rgba(0, 0, 0, 0.5)
}
.player.imgbox {
    position: relative; 
    width: 100%;
    height: 450px;
}

.player.imgbox img {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.player audio{
    width: 100%;
    outline: none;
}
