body{
    background: linear-gradient(to right, #43c6ac, #191654);
}
/* Card Configuração */

h2{
    color: #f1f2f3;
}
.card {
    text-align: justify;
    font-size: 18px;
    color: #f1f2f3;
    background: rgba(255, 255, 255, 0.432);
    border-radius: 20px;
    box-shadow: 0px 0px 2px #26395338;
}

#card-1 {
    background: linear-gradient(to right, #43c659, #c5ec5a);
}

#card-2 {
    background: linear-gradient(to right, #c643a9, #ac6092);
}

#card-3 {
    background: linear-gradient(to right, #434cc6, #5abeec);
}

#card-4 {
    background: linear-gradient(to right, #d4e025, #e67042);
}

.topCard {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
}

.mediaCard{
    padding: 10px;
    margin: auto;
}

.bottomCard{
   text-align: center;
}

.box-card {
    height: 50%;
    width: 100%;
    display: block;
}

.carrosel-card {
    margin-top: 5px;
}

.owl-carousel img {
    height: 200px;
}
audio {
    width: 100%;
    height: 25px;
}


.imgConvid {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
}

.convidtitle {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5rem, 0, 5rem, 0;
    padding: 5%;
    color: white;
}
.convidados{
    display: flex;
    justify-content: center;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    max-width: 940px;
    margin: 0 20%;
    grid-gap: 30px;
}
.boxConvid{
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    grid-gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 50px;

    box-shadow: 6px 6px 10px #1e2020;
 }