:root{
  --cor1: #2F4C73;
  --cor2: #07F25A;
  --cor3: #0ABF49;
  --cor4: #0D0D09;
  --cor5: #F2F2F2;

  
}

*{
  margin: 0;
  padding: 0;
}


.bi-person-circle{
  color: white;
}

footer{
  background-color: #3e4551;
}

footer h5 {
  font-weight: bold;
}

.Copyright{
  background-color: rgba(0, 0, 0, 0.2)
}